[general]

;Bot login token
token= 

commandprefix= !

;Log files location, must be absolute
logdir= /path/must/be/absolute

;Optional channel ID to listen for commands. Will by default accept via PM, or the server clone destination.
listenchan= 

;Listen for commands via PM
pmcomms= true

;Respond to commands only from these user IDs, (seperate by commas)
;Leave blank to allow all users
users= 

[servercloning]

;true or false
enabled= false

;Server ID to clone
source= 

;Server ID for which to write to
destination= 
